<div class="form-group ">
    <input type="text" name="name" class="form-control input-lg"
           placeholder="Room Name" required>
</div>
<div class="form-group">
    <input type="number" name="rows" class="form-control input-lg"
           placeholder="Rows" required>
</div>
<div class="form-group">
    <input type="number" name="seatsPerRow" class="form-control input-lg"
           placeholder="Seats Per Row" required>
</div>