<div class="form-group ">
    <input type="text" name="cinemaName" class="form-control input-lg"
           placeholder="Cinema" required>
</div>
<div class="form-group">
    <input type="text" name="roomName" class="form-control input-lg"
           placeholder="Room" required>
</div>
<div class="form-group">
    <input type="datetime-local" name="date" class="form-control input-lg"
           placeholder="Date" required>
</div>