{{> genericNavbar}}

<div class="jumbotron jumbotron-fluid bg-warning">
    <div class="container">
        <h1 class="display-3"><span class="fa fa-exclamation-triangle"></span>{{error.status}}</h1>
        <p class="lead">{{message}}</p>
    </div>
</div>

{{> footer }}