<!DOCTYPE html>
<html>
  <head>
    <title> OTRA </title>
      <link rel="icon" type="image/icon" href="/Film.ico"/>
      <link rel="stylesheet" href="/stylesheets/style.css"/>
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
      <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <script type='text/javascript' src='/javascripts/cinemas.js'></script>
      <script type='text/javascript' src='/javascripts/ajaxRequest.js'></script>
      <script type='text/javascript' src='/javascripts/movies.js'></script>
      <script type='text/javascript' src='/javascripts/rooms.js'></script>
      <script type='text/javascript' src='/javascripts/sessions.js'></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
